* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: "auto";
  font-weight: "weight";
  font-style: "normal";
}
body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
  font-size: 0.75em; /* % 단위 (0~1) */
  line-height: 1.2em; /* 줄간격 */
  color: #333;
}

/* 헤더 */
header {
  background-color: #fdd20e;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}


/* 네비게이션 */
.navbar {
  background-color: #fdd20e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  /* padding: 6px 10px; */
}
.navbar_menu {
/*   outline: 2px solid salmon; */
  display: flex;
  list-style: none;
  padding-left: 0;
  height: 50px;
 
}

.navbar_menu li {
  font-size: 23px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
}

.navbar_menu li:hover {
  background-color: #d2302d;
  color: white;
}

.navbar_icons {
  /* outline: 2px solid lightblue; */
  list-style: none;
  display: flex;
  font-size: 23px;
}

.navbar_icons li {
  /* outline: 2px solid blue; */
  padding: 14px;
  cursor: pointer;
}

.navbar_icons li:hover {
  background-color: #d2302d;
  border-radius: 50%;
  color: white;
}

.navbar_toggle {
  display: none;
  /*   outline: 2px solid lightblue; */
  position: absolute;
  left: 30px;
  font-size: 23px;
}


/* 로고 */
.log {
  /* outline: 2px solid lightgreen; */
  background-color: #fdd20e;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 메인이미지 */

.wrap {
/*   outline: 2px solid yellow; */
  background-color: white;
  margin-top: -42px;
 /*  width: 100%; */
  position: relative;
  overflow: hidden;
  /* padding-top: calc(780/971 * 100%); */
}

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h2 {
 /*    outline: 2px solid green; */
    font-size: 40px;
    text-align: center;
    word-break: break-all;
  }

  .row {
    /* outline: 2px solid blue; */
    margin: 8px auto;
    max-width: 2200px;
    
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
 /*    outline: 2px solid pink; */
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    display: none; /* Hide columns by default */
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }

  .content img {
    display: block;
    margin: 0 auto;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  #myBtnContainer {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 15px 70px;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
  /*   margin: 0 10px; */
  }
  
  .btn:hover {
    background-color: #D2302C;
    color:  #FDD20E;
  }
  
  .btn.active {
    background-color: #D2302C;
    color:  #FDD20E;
  }

  h3 {
    font-size: 26px;
    text-align: center;
    font-weight: 600;
  }
  


/* Pagination */
.pagination {
  text-align: center;
  margin-bottom: 20px;
}

.pagination a {
  /* outline: 2px solid blue; */
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 13px;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #D2302C;
  color:  #FDD20E;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

/* footer */
footer {
  background-color: #fdd20e;
/*     display: flex;
  justify-content: center;
  align-items: center; */
}

#logoi {
  /* outline: 2px solid blue; */
  max-width: 55px;
}
footer #logo{
  /* outline: 2px solid black; */
  width: 100%;
  float: left;
  margin: 30px 10px;
}

footer #social {
  max-width: 120px;
  margin:0 40px 0 15px;
  float: right;
  position: relative;
  bottom: 90px;
  left: 40px;
}
footer #copy {
  font-size: 16px;
  line-height: 1.7em;
}

footer #social img {
  margin: 0 7px;
}

#info {
  font-size: 20px;
  white-space: pre;
}

/* 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
@media screen and (max-width:768px) {
  .container{
    /* outline: 2px solid black; */
    width: auto;
    height: auto;
}

.navbar {
background-color: #fdd20e;
display: flex;
/* justify-content: space-around; */
align-items: center;
padding: 6px 10px;
}

.navbar_menu {
display: none;
padding-left: 58px;
}

.navbar_menu li {
float: left;
}

.navbar_icons {
  /* outline: 2px solid lightblue; */
  position: absolute;
  right: 0;
}


.navbar_toggle {
/* outline: 2px solid red; */
display: block;
}

.navbar_menu.show {
display: flex;
}
.wrap {
background-color: white;
margin-top: -42px;
height: 100%;
width: 100%;
position: relative;
overflow: hidden;
}

#myBtnContainer {
/*   outline: 2px solid black; */
  flex-direction: column;
}
.btn {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  color: black;
  font-size: 30px;
  background-color: white;
  cursor: pointer;
/*   margin: 0 10px; */
}

.column {
  width: 50%;
}
.content {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.content img {
  display: block;
  margin: 0 auto;
}
/* footer */
footer #logo {
  max-width: 55px;
  float: left;
}

footer #social {
  max-width: 120px;
  margin:0 30px 0 15px;
  float: right;
  position: relative;
  bottom: 90px;
  left: 40px;
}
footer #copy {
  font-size: 16px;
  line-height: 1.7em;
}

#info {
  font-size: 20px;
  white-space: pre;
}

footer #social img {
  display: none;
}
.log img {
  /* outline: 2px solid black; */
  width: 100%; 
}

}

/* 브라우저 윈도우가 768 이상이면 적용 */
@media screen and (min-width:768px) {

}